<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
<style>
  .fa-nostr {
    background-color: currentColor;
    -webkit-mask-image: url("{{ '/assets/icons/nostr.svg' | relative_url }}");
    mask-image: url("{{ '/assets/icons/nostr.svg' | relative_url }}");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
</style>
